<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />

    {{#if formCSS}}
        <link rel="stylesheet" href="/css/form.css" />
    {{/if}}

    {{#if productCSS}}
    <link rel="stylesheet" href="/css/product.css" />
    {{/if}}

</head>

<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-item">
                    <a href="/" class="{{#if activeShop}}active{{/if}}">Shop</a>
                    </li>
                <li class="main-header-item">
                    <a href="/admin/add-product"
                    class="{{#if activeAddProduct}}active{{/if}}">Add Product</a>
                </li>
            </ul>
        </nav>
    </header>
   {{{  body }}}
</body>

</html>