<%- include('includes/top.ejs') %>
<!-- navigation  -->
<%- include('includes/navigation.ejs')%>
<!-- body  -->
<main>
  <div class="container">
    <h1>Page not found!</h1>
  </div>
</main>

<%- include('includes/bottom.ejs') %>
