extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card-header
                            h1.product-title #{product.title}

                        div.card-image
                            img(src="https://kaboompics.com/cache/2/b/6/d/c/2b6dcd9aa2dc7ed5f1dd879d25aaee3c3a981c10.jpeg", alt="Laptop")

                        div.card-content
                            h2.product-price $19.99
                            p.product-description A very interesting book about so many even more interesting things!

                        div.card-actions
                            button.btn Add to Cart

        else
            h1 No Product available!
