<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
</head>

<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-item">
                    <a class="active" href="/">Shop</a>
                </li>
                <li class="main-header-item">
                    <a href="/admin/add-product">Add Product</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {{#if hasProducts }}
         <div class="grid">
            {{#each  prods}}
            <article class="card product-item">
                <header class="card-header">
                    <h1 class="product-title">{{ this.title   }}</h1>
                </header>
                <div class="card-image">
                    <img src="https://kaboompics.com/cache/2/b/6/d/c/2b6dcd9aa2dc7ed5f1dd879d25aaee3c3a981c10.jpeg" alt="Laptop">
                </div>
                <div class="card-content">
                    <h2 class="product-price">$19.99</h2>
                    <p class="product-description">A very interesting book about so many even more interesting things!</p>
                </div>
                <div class="card-actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            {{/each}}
        </div>
        {{else}}
          <h1>Product not found!</h1>
        {{/if}}
    </main>
</body>

</html>